@model ToolViewModel

<div class="main-panel">
    <div class="content-wrapper">
        <div class="col-6 text-end">
                <a asp-area="Admin" asp-controller="Tool" asp-action="Create" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i>  Create New Tool
                </a>
        </div>
    <div class="page-header">
        <h3 class="page-title"> Data table </h3>
        <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Tables</a></li>
            <li class="breadcrumb-item active" aria-current="page">Data table</li>
        </ol>
        </nav>
    </div>
    <div class="card">
        <div class="card-body">
        <h4 class="card-title">Data table</h4>
        <div class="row">
            <div class="col-12">
            <table id="order-listing" class="table">
              <thead>
                <tr>
                    <th>Tool Name</th>
                    <th>CurrentState</th>
                     <th>price</th>
                     <th>Category Name</th>
                    <th></th>
                </tr>
            </thead>
              <tbody>
                @foreach (var objTool in Model.LisTbTool.OrderBy(u => u.ToolId))
                {
                        <tr>
                            <td>@objTool.ToolName </td>
                            <td>@objTool.ToolCurrentState</td>
                            <td> @objTool.ToolProductPrice</td>
                            <td> @objTool._TbCategory.CategoryName</td>

                            <td>
                                <div class="w-75 btn-group" role="group">
                                    <a asp-controller="Tool" asp-action="Edit" asp-route-tool_id="@objTool.ToolId" class="btn btn-primary mx-2"> <i class="bi bi-pencil-square"></i> Edit</a>
                                    <a asp-controller="Tool" asp-action="Delete" asp-route-tool_id="@objTool.ToolId" class="btn btn-danger mx-2"> <i class="bi bi-trash-fill"></i> Delete</a>
                                </div>
                            </td>
                        </tr>
                }
            </tbody>
            </table>
            </div>
        </div>
        </div>
    </div>
    </div>
    <!-- content-wrapper ends -->
    <!-- partial -->
</div>
<!-- main-panel ends -->

<!-- plugins:js -->
<script src="../../../assets/vendors/js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script src="../../../assets/vendors/datatables.net/jquery.dataTables.js"></script>
<script src="../../../assets/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="../../../assets/js/off-canvas.js"></script>
<script src="../../../assets/js/hoverable-collapse.js"></script>
<script src="../../../assets/js/misc.js"></script>
<script src="../../../assets/js/settings.js"></script>
<script src="../../../assets/js/todolist.js"></script>
<script src="../../../assets/js/jquery.cookie.js"></script>
<!-- endinject -->
<!-- Custom js for this page -->
<script src="../../../assets/js/data-table.js"></script>
<!-- End custom js for this page -->