@model IndexHomeViewModel;
<!-- Slide Area start here -->
<div class="uren-slider_area uren-slider_area-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-9 col-lg-8">
                <div class="main-slider slider-navigation_style-2">

                    <!-- Begin Single Slide Area 1 -->
                    <div class="single-slide animation-style-01 bg-3">
                        <div class="slider-content">
                            <span>Adtitle</span>
                            <h3>AdText</h3>
                            <h4>@Resources.Startingat <span>AdPrice</span></h4>
                            <div class="uren-btn-ps_left slide-btn">
                                <a class="uren-btn" href="shop-left-sidebar.html">@Resources.ReadMore</a>
                            </div>
                        </div>
                    </div>
                    <!-- Single Slide Area 1 End Here -->

                    <!-- Begin Single Slide Area 2 -->
                    <div class="single-slide animation-style-02 bg-3">
                        <div class="slider-content slider-content-2">
                            <span class="primary-text_color">AdCutBacksTitle</span>
                            <h3>AdCutBacksText</h3>
                            <h4>@Resources.Saleupto AdDiscountPercentage @Resources.off</h4>
                            <div class="uren-btn-ps_left slide-btn">
                                <a class="uren-btn" href="shop-left-sidebar.html">@Resources.ReadMore</a>
                            </div>
                        </div>
                    </div>
                    <!-- Single Slide Area 2 End Here -->

                </div>
            </div>


            <div class="col-xl-3 col-lg-4">
                <div class="row banner-wrap">
                           
                        <!-- Uren's Banner Area 1 start here -->
                    <div class="col-lg-12 col-md-6">
                        <div class="slider-banner banner-item img-hover_effect">
                            <a href="shop-left-sidebar.html">
                                <img class="img-full" src="~/uren/assets/images/banner/2-1.jpg" alt="Uren's Banner1">
                            </a>
                        </div>
                    </div>
                    <!-- Uren's Banner Area 1 End Here -->

                    <!-- Uren's Banner Slide Area 2 -->
                    <div class="col-lg-12 col-md-6">
                        <div class="slider-banner-2 banner-item img-hover_effect">
                            <a href="shop-left-sidebar.html">
                                <img class="img-full" src="~/uren/assets/images/banner/2-2.jpg" alt="Uren's Banner2">
                            </a>
                        </div>
                    </div>
                        <!-- Uren's Banner Area 2 End Here -->

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Slide Area end here -->

<!-- Begin Payment Area -->
<div class="uren-shipping_area">
    <div class="container-fluid">
        <div class="shipping-nav">
            <div class="row no-gutters">
                <div class="shipping-grid">
                    <div class="shipping-item">
                        <div class="shipping-icon">
                            <i class="ion-ios-paperplane-outline"></i>
                        </div>
                        <div class="shipping-content">
                            <h6>@Resources.FreeShipping</h6>
                            <p>@Resources.FreeshippingonallUSorder 500 ryals</p>
                        </div>
                    </div>
                </div>
                <div class="shipping-grid">
                    <div class="shipping-item">
                        <div class="shipping-icon">
                            <i class="ion-ios-help-outline"></i>
                        </div>
                        <div class="shipping-content">
                            <h6>@Resources.Support 24/7</h6>
                            <p>@Resources.Contactus24hoursaday</p>
                        </div>
                    </div>
                </div>
                <div class="shipping-grid">
                    <div class="shipping-item">
                        <div class="shipping-icon">
                            <i class="ion-ios-refresh-empty"></i>
                        </div>
                        <div class="shipping-content">
                            <h6>100% @Resources.MoneyBack</h6>
                            <p>@Resources.Youhave30daystoReturn</p>
                        </div>
                    </div>
                </div>
                <div class="shipping-grid">
                    <div class="shipping-item">
                        <div class="shipping-icon">
                            <i class="ion-ios-undo-outline"></i>
                        </div>
                        <div class="shipping-content">
                            <h6>@Resources.DaysReturn 90 @Resources.Days </h6>
                            <p> @Resources.Ifgoodshaveproblems</p>
                        </div>
                    </div>
                </div>
                <div class="shipping-grid">
                    <div class="shipping-item">
                        <div class="shipping-icon">
                            <i class="ion-ios-locked-outline"></i>
                        </div>
                        <div class="shipping-content last-child">
                            <h6>@Resources.PaymentSecure</h6>
                            <p>@Resources.Weensuresecurepayment</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Payment Area End Here -->

<!-- Begin Special DealOfTheDay Product Area -->
<div class="special-product_area">
    <div class="container-fluid">
        <div class="row">
            <!-- Begin DealOfTheDay Area -->
            <div class="col-lg-12">
                <div class="section-title_area">
                    @*<span>@Resources.SpecialOfferLimitedTime</span>*@
                    <h3>@Resources.DealOfTheDay</h3>
                </div>
                <div class="special-product_slider uren-slick-slider slider-navigation_style-1 img-hover-effect_area" data-slick-options='{
                "slidesToShow": 2,
                "arrows" : true
                }' data-slick-responsive='[
                                        {"breakpoint":768, "settings": {"slidesToShow": 1}}
                                    ]'>

                    <!-- Begin slide-item Area -->
                    @foreach (var dealOfTheDay in Model.lstTbDealOfTheDays)
                    {
                        if (DateTime.Now <= dealOfTheDay.DealOfTheDayToolDate)
                        {
                            @if (dealOfTheDay._TbTool != null)
                            {
                                <div class="slide-item">
                                    <div class="inner-slide">
                                        <div class="single-product">

                                            <!-- Begin product-img and stiker Area -->
                                            <div class="product-img">
                                                <a href="single-product.html">
                                                    <img class="primary-img" src="~/uren/assets/images/product/medium-size/1-1.jpg" alt="Uren's Product Image">
                                                    <img class="secondary-img" src="~/uren/assets/images/product/medium-size/4-1.jpg" alt="Uren's Product Image">
                                                </a>
                                                <div class="sticker-area-2">
                                                    <span class="sticker-2">- @dealOfTheDay.DealOfTheDayToolrate %</span>
                                                    @if (dealOfTheDay._TbTool != null && dealOfTheDay._TbTool.Any())
                                                    {
                                                        <span class="sticker">@dealOfTheDay._TbTool.FirstOrDefault().ToolSticker</span>
                                                    }
                                                </div>
                                            </div>
                                            <!--  product-img and stiker Area end -->

                                            <div class="product-content">
                                                <div class="product-desc_info">
                                                    <div class="uren-countdown_area">
                                                        <span class="product-offer">@Resources.HurryupOfferendsin</span>
                                                        <div class="countdown-wrap">
                                                            <div class="countdown item-4" data-countdown="@dealOfTheDay.DealOfTheDayToolDate.ToString("yyyy-MM-ddTHH:mm:ss")" data-format="short" >
                                                                <div class="countdown__item">
                                                                    <span class="countdown__time daysLeft"></span>
                                                                    <span class="countdown__text daysText"></span>
                                                                </div>
                                                                <div class="countdown__item">
                                                                    <span class="countdown__time hoursLeft"></span>
                                                                    <span class="countdown__text hoursText"></span>
                                                                </div>
                                                                <div class="countdown__item">
                                                                    <span class="countdown__time minsLeft"></span>
                                                                    <span class="countdown__text minsText"></span>
                                                                </div>
                                                                <div class="countdown__item">
                                                                    <span class="countdown__time secsLeft"></span>
                                                                    <span class="countdown__text secsText"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="rating-box">
                                                        <ul>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li><i class="ion-android-star"></i></li>
                                                            <li class="silver-color"><i class="ion-android-star"></i></li>
                                                            <li class="silver-color"><i class="ion-android-star"></i></li>
                                                        </ul>
                                                    </div>
                                                    <h6 class="product-name">
                                                        <a href="single-product.html">
                                                            @if (dealOfTheDay._TbTool != null && dealOfTheDay._TbTool.Any())
                                                            {
                                                                @dealOfTheDay._TbTool.FirstOrDefault().ToolName
                                                            }
                                                        </a>
                                                    </h6>
                                                    <div class="price-box">
                                                        <span class="new-price new-price-2">$@dealOfTheDay.DealOfTheDayToolProductNewPrice</span>
                                                        <span class="old-price"> $
                                                            @if (dealOfTheDay._TbTool != null && dealOfTheDay._TbTool.Any())
                                                            {
                                                                @dealOfTheDay._TbTool.FirstOrDefault().ToolProductPrice
                                                            }
                                                        </span>
                                                    </div>
                                                    <div class="add-actions">
                                                        <ul>
                                                            <li><a class="uren-add_cart" href="cart.html" data-toggle="tooltip" data-placement="top" title="@Resources.AddToCart"><i
                                                                class="ion-bag"></i>@Resources.AddToCart</a>
                                                            </li>
                                                            <li><a class="uren-wishlist" href="wishlist.html" data-toggle="tooltip" data-placement="top" title="@Resources.AddToWishlist"><i class="ion-android-favorite-outline"></i></a>
                                                            </li>
                                                            <li class="quick-view-btn" data-toggle="modal" data-target="#exampleModalCenter"><a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="@Resources.QuickView"><i class="ion-android-open"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- slide-item Area End Here  -->
                            }
                        }  
                    }
                </div>
            </div>
            <!-- DealOfTheDay Area End Here  -->
        </div>
    </div>
</div>
<!-- Special DealOfTheDay Product Area End Here -->


<!-- Begin Uren's New Arrivals Products Area -->
<div class="uren-product_area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title_area">
                    @*<span>@Resources.TopNewOnThisWeek</span>*@
                    <h3>@Resources.NewArrivalsProducts</h3>
                </div>
                <div class="product-slider uren-slick-slider slider-navigation_style-1 img-hover-effect_area" data-slick-options='{
                "slidesToShow": 6,
                "arrows" : true
                }' data-slick-responsive='[
                                        {"breakpoint":1501, "settings": {"slidesToShow": 4}},
                                        {"breakpoint":1200, "settings": {"slidesToShow": 3}},
                                        {"breakpoint":992, "settings": {"slidesToShow": 2}},
                                        {"breakpoint":767, "settings": {"slidesToShow": 1}},
                                        {"breakpoint":480, "settings": {"slidesToShow": 1}}
                                    ]'>
                @if (Model.lstTbNewArrivalProducts != null && Model.lstTbNewArrivalProducts.Any())
                {
                    @foreach (var newProduct in Model.lstTbNewArrivalProducts)
                    {
                        @if (newProduct._TbTool != null)
                        {
                            <div class="product-slide_item">
                                <div class="inner-slide">
                                    <div class="single-product">
                                        <div class="product-img">
                                            <a href="single-product.html">
                                                <img class="primary-img" src="~/uren/assets/images/product/medium-size/1-1.jpg" alt="Uren's Product Image">
                                                <img class="secondary-img" src="~/uren/assets/images/product/medium-size/1-2.jpg" alt="Uren's Product Image">
                                            </a>
                                            <div class="sticker">
                                                @if (newProduct._TbTool != null && newProduct._TbTool.Any())
                                                {
                                                    <span class="sticker">@newProduct._TbTool.FirstOrDefault().ToolSticker</span>
                                                }
                                            </div>
                                            <div class="add-actions">
                                                <ul>
                                                    <li><a class="uren-add_cart" href="cart.html" data-toggle="tooltip" data-placement="top" title="@Resources.AddToCart"><i class="ion-bag"></i></a>
                                                    </li>
                                                    <li><a class="uren-wishlist" href="wishlist.html" data-toggle="tooltip" data-placement="top" title="@Resources.AddToWishlist"><i class="ion-android-favorite-outline"></i></a>
                                                    </li>
                                                    <li><a class="uren-add_compare" href="compare.html" data-toggle="tooltip" data-placement="top" title="@Resources.CompareThisProduct"><i
                                            class="ion-android-options"></i></a>
                                                    </li>
                                                    <li class="quick-view-btn" data-toggle="modal" data-target="#exampleModalCenter"><a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="@Resources.QuickView"><i
                                            class="ion-android-open"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <div class="product-desc_info">
                                                <div class="rating-box">
                                                    <ul>
                                                        <li><i class="ion-android-star"></i></li>
                                                        <li><i class="ion-android-star"></i></li>
                                                        <li><i class="ion-android-star"></i></li>
                                                        <li class="silver-color"><i class="ion-android-star"></i></li>
                                                        <li class="silver-color"><i class="ion-android-star"></i></li>
                                                    </ul>
                                                </div>
                                                <h6>
                                                    <a class="product-name" href="single-product.html">
                                                        @if (newProduct._TbTool != null && newProduct._TbTool.Any())
                                                        {
                                                            @newProduct._TbTool.First().ToolName
                                                        }
                                                    </a>
                                                </h6>
                                                <div class="price-box">
                                                    <span class="new-price">
                                                        @if (newProduct._TbTool != null && newProduct._TbTool.Any())
                                                        {
                                                            <span class="new-price">$@newProduct._TbTool.First().ToolProductPrice</span>
                                                        }
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                     }
                }
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Uren's New Arrivals Products Area End Here -->

<!-- Begin Uren's Best Selling Product Area -->
<div class="best-selling-product_area">
    <div class="container-fluid">
        <div class="section-title_area">
            @*<span>@Resources.TopBestSellingOnThisWeek</span>*@
            <h3>@Resources.BestSellingProducts</h3>
        </div>
        <div class="row no-gutters">
            <div class="col-xl-2 col-md-4 col-sm-4">
                <div class="banner-item best-selling_banner img-hover_effect"></div>
            </div>
            <div class="col-xl-10 col-md-8 col-sm-8">
                <div class="best-selling_slider uren-slick-slider slider-navigation_style-1 img-hover-effect_area" data-slick-options='{
            "slidesToShow": 5,
            "arrows" : true,
            "rows": 2
            }' data-slick-responsive='[
                {"breakpoint":1501, "settings": {"slidesToShow": 4}},
                {"breakpoint":1200, "settings": {"slidesToShow": 2}},
                {"breakpoint":768, "settings": {"slidesToShow": 1, "rows": 1}},
                {"breakpoint":575, "settings": {"slidesToShow": 1, "rows": 2}}
            ]'>
                @if (Model.lstTbNumberOfPayments != null && Model.lstTbNumberOfPayments.Any())
                {
                    @foreach (var numberPayment in Model.lstTbNumberOfPayments)
                    {
                        @if (numberPayment._TbTool != null)
                        {
                            <div class="product-slide_item">
                                <div class="inner-slide">
                        <div class="single-product">
                            <div class="product-img">
                                <a href="single-product.html">
                                    <img class="primary-img" src="~/uren/assets/images/product/medium-size/1-1.jpg" alt="Uren's Product Image">
                                    <img class="secondary-img" src="~/uren/assets/images/product/medium-size/1-2.jpg" alt="Uren's Product Image">
                                </a>
                                <div class="sticker">
                                    @if (numberPayment._TbTool != null && numberPayment._TbTool.Any())
                                    {
                                            <span class="sticker">@numberPayment._TbTool.FirstOrDefault().ToolSticker</span>
                                    }
                                </div>
                                <div class="add-actions">
                                    <ul>
                                        <li><a class="uren-add_cart" href="cart.html" data-toggle="tooltip" data-placement="top" title="@Resources.AddToCart"><i class="ion-bag"></i></a>
                                        </li>
                                        <li><a class="uren-wishlist" href="wishlist.html" data-toggle="tooltip" data-placement="top" title="@Resources.AddToWishlist"><i
                                            class="ion-android-favorite-outline"></i></a>
                                        </li>
                                        <li><a class="uren-add_compare" href="compare.html" data-toggle="tooltip" data-placement="top" title="@Resources.CompareThisProduct"><i
                                            class="ion-android-options"></i></a>
                                        </li>
                                        <li class="quick-view-btn" data-toggle="modal" data-target="#exampleModalCenter"><a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="@Resources.QuickView"><i
                                            class="ion-android-open"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-content">
                                <div class="product-desc_info">
                                    <div class="rating-box">
                                        <ul>
                                            <li><i class="ion-android-star"></i></li>
                                            <li><i class="ion-android-star"></i></li>
                                            <li><i class="ion-android-star"></i></li>
                                            <li class="silver-color"><i class="ion-android-star"></i></li>
                                            <li class="silver-color"><i class="ion-android-star"></i></li>
                                        </ul>
                                    </div>
                                    <h6>
                                        <a class="product-name" href="single-product.html">
                                            @if (numberPayment._TbTool != null && numberPayment._TbTool.Any())
                                            {
                                                @numberPayment._TbTool.First().ToolName
                                            }

                                        </a>
                                    </h6>
                                    <div class="price-box">
                                        <span class="new-price">
                                            @if (numberPayment._TbTool != null && numberPayment._TbTool.Any())
                                            {
                                                <span class="new-price">$@numberPayment._TbTool.First().ToolProductPrice</span>
                                            }
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                        }   
                    }
                }
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Uren's Best Selling Product Area End Here -->

@*************************************************************************@
@*<!-- Begin Uren's Brand Area -->
<div class="uren-brand_area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title_area">
                    <span>@Resources.TopQualityPartner</span>
                    <h3>@Resources.ShopByBrands</h3>
                </div>
                <div class="brand-slider uren-slick-slider img-hover-effect_area" data-slick-options='{
                "slidesToShow": 6
                }' data-slick-responsive='[
                                        {"breakpoint":1200, "settings": {"slidesToShow": 5}},
                                        {"breakpoint":992, "settings": {"slidesToShow": 3}},
                                        {"breakpoint":767, "settings": {"slidesToShow": 3}},
                                        {"breakpoint":577, "settings": {"slidesToShow": 2}},
                                        {"breakpoint":321, "settings": {"slidesToShow": 1}}
                                    ]'>
                    <div class="slide-item">
                        <div class="inner-slide">
                            <div class="single-product">
                                <a href="javascript:void(0)">
                                    <img src="~/uren/assets/images/brand/1.jpg" alt="Uren's Brand Image">
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>*@
<!-- Uren's Brand Area End Here -->
@*************************************************************************@


       
