@model IndexTellViewModel

 <!-- Begin Contact Main Page Area -->
        <div class="contact-main-page">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-5 offset-lg-1 col-md-12 order-1 order-lg-2">
                @foreach (var info in Model.lstTbCompanyInformations)
                {
                                <div class="contact-page-side-content">
                                    <h3 class="contact-page-title">@Resources.ContactUs</h3>
                                    <p class="contact-page-message">@info.CompanyInformationDescription</p>
                                    <div class="single-contact-block">
                                        <h4><i class="fa fa-fax"></i> @Resources.Address</h4>
                                        <p>@info.CompanyInformationAddress</p>
                                    </div>
                                    <div class="single-contact-block">
                                        <h4><i class="fa fa-phone"></i> @Resources.Phone</h4>
                                        <p>@Resources.Hotline: @info.CompanyInformationPhone</p>
                                    </div>
                                    <div class="single-contact-block last-child">
                                        <h4><i class="fa fa-envelope-o"></i> @Resources.Email</h4>
                                        <p>@info.CompanyInformationEmail</p>
                                    </div>
                                </div>
                }
                    </div>
                   <div class="col-lg-6 col-md-12 order-2 order-lg-1">
                        <div class="contact-form-content">
                            <h3 class="contact-page-title">@Resources.TellUsYourMessage</h3>
                            <div class="contact-form">
                                <form method="post"enctype="multipart/form-data" id="contact-form"action="@Url.Action("Save", "Tell")">
                                    <input asp-for="@Model.InpTbTellUs.TellId" hidden />
                                    <div class="form-group">
                                        <label>@Resources.YourName <span class="required">*</span></label>
                                        <input asp-for="@Model.InpTbTellUs.TellName" type="text" class="form-control" />
                                        <span asp-validation-for="@Model.InpTbTellUs.TellName" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label>@Resources.YourEmail <span class="required">*</span></label>
                                        <input asp-for="@Model.InpTbTellUs.TellEmail" type="email" class="form-control" />
                                        <span asp-validation-for="@Model.InpTbTellUs.TellEmail" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label>@Resources.Subject</label>
                                        <input asp-for="@Model.InpTbTellUs.TellSubject" type="text" class="form-control" />
                                        <span asp-validation-for="@Model.InpTbTellUs.TellSubject" class="text-danger"></span>
                                    </div>
                                    <div class="form-group form-group-2">
                                        <label>@Resources.YourMessage</label>
                                        <textarea asp-for="@Model.InpTbTellUs.TellMessage" class="form-control"></textarea>
                                        <span asp-validation-for="@Model.InpTbTellUs.TellMessage" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" value="submit" id="submit" class="uren-contact-form_btn" name="submit">@Resources.send</button>
                                    </div>
                                </form>
                            </div>
                            <p class="form-messege"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Contact Main Page Area End Here -->