@model CategoryViewModel

@if (TempData["errorMessages"] != null)
{
        <div class="alert alert-danger">
            <ul>
            @foreach (var errorMessage in (List<string>)TempData["errorMessages"])
            {
                        <li>@errorMessage</li>
            }
            </ul>
        </div>
}

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">@Resources.EditCategory</h2>
            </div>
        </div>
    </div>
    <form method="post"  class="row" enctype="multipart/form-data">
        <input asp-for="inpTbCategory.CategoryId" hidden />

        <div class="border p-3 mt-4">
            <div class="form-group col-12">
                <label > @Resources.CategoryName </label>
                <input asp-for="inpTbCategory.CategoryName" class="form-control border-0 shadow" />
                <span asp-validation-for="inpTbCategory.CategoryName" class="text-danger"></span>
            </div>
            <div class="form-group col-12">
                <label> @Resources.CategoryCurrentState </label>
                <input asp-for="inpTbCategory.CategoryCurrentState" class="form-control border-0 shadow" />
                <span asp-validation-for="inpTbCategory.CategoryCurrentState" class="text-danger"></span>
            </div>

             <div class="form-group col-12">
                 <label> @Resources.DepartmentId </label>
                <select asp-for="@Model.inpTbCategory.DepartmentId" asp-items="@Model.LisTbDepartment" class="form-select border-0 shadow">
                    <option disabled selected>@Resources.SelectDepartment</option>
                </select>
                <span asp-validation-for="inpTbCategory.DepartmentId" class="text-danger"></span>
            </div>

            <div class="row mt-3">
                <div class="col-6 col-md-3">
                    <button type="submit" class="btn btn-primary form-control">@Resources.Update</button>
                </div>
                <div class="col-6 col-md-3">
                    <a asp-controller="Category" asp-action="Index" class="btn btn-secondary border form-control">@Resources.BacktoList</a>
                </div>
            </div>
        </div>
    </form>
</div>
